@media  (min-width:570px){

    #solid{
        display:none;
    }
    .header{
        display:flex;
        width:100%;
        min-height:8px;
        max-height: 12vw;
        position: fixed;
        background-color: #f1f1f1;
        top:0;
        justify-content: space-between;
        line-height: 1;
        padding: 5px 0;
    }
    #header{
        font-size: 200%;
    }
    #tech{
        font-size: 50px;
    }
    .my-work{
        margin: 0 auto;
    }
    .correct{
        margin: 3% auto;
    }
    .max-width{
        justify-content: space-around;
        position: absolute;
        right:7%;
        display:flex;
        width:40%;
        height:10vh;
        background-color: transparent;
    }
    #address :hover{
        color:yellow;
    }
    *{
        border:2px solid red;
    }
    .cont{
        overflow: auto;
        height:100%;
        max-width: 45%;
        width: 45vw;
        display: flex;
        flex-wrap: wrap;
        float: right;
        background-color: rgb(152, 241, 241);
    }
    .tools{
        background-color: red;
        width:40%;
        float: right;
        overflow:none;
        margin-bottom: 30px;
    }
    #address{
        color:blue;
        text-shadow: 0px 2px 2px black;
        font-size: 120%;
    }
    #button{
        width:40%;
        height:40px;
        margin: 0% 5% 0 25%;
        display: none;
    }
    .inside-text{
        background-color: red;
        width:55vw;
        min-height:40vw;
        height: auto;
        margin-top: 0;
        margin-bottom: 50px;

    }
    .content{
        background-color: transparent;
        height: auto;
    }
    #tech{
        height:199px;
    }
    #myquote :hover{
        color:yellow;
    }
    #myquote{
        text-shadow: 3px 3px 3px black;
        color:#f1f1f1;
        margin-left: 25%;
        margin-bottom: 0;
        font-size:2.5rem;
        font-weight: 900%;
        font-family: Cambria,
         Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    @keyframes quote{
        0%{
            margin:0% auto  0;
        }
        50%{
            margin:0% auto 0;
        }
        100%{
            margin:0% auto 0;
        }
    }
    #line{
        margin:20% auto 0;
    }
    .cover-project{
        margin-top: 5%;
        width:100vw;
        height:auto;
        background-color: green;
        display: flex;
    }
    .work-project{
        width:50%;
        margin: auto;
    }
    .linky{
        
    }
    .correct{
        margin-left: 2.5%;
        width:45%;
        height: 300px;
        background-color: red;
        display: flex;
        flex-direction: row;
    }
    .tools{
        width:100vw;
        height:420px;
    }
    .stack{
        width:45%;
        float:left;
    }
    .bye-box{
        bottom:-3%;
        height:17vh;
        width:90wh;
        justify-content: safe;
        align-items: safe;
        flex-wrap: nowrap;
    }
    
    .about-me{
        margin:8% auto;
    }
    .see-more{
        width:50vw;
        margin-left:25%;
    }
    /* the logo attributes are here*/
    .main{
        width:30px;
        height:30px;
        margin:auto auto;
    }
    .face{
        width:15px;
        height:25px;
        background-color: black;
        border-radius: 20px 20px 50px 50%;
        display: flex;
        justify-content: space-around;
    }
    .eye{
        width: 5px;
        height:10px;
        background-color: white;
        border-radius: 50%;
        margin-top:20%;
        animation-name: redd;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .eye1{
        width: 5px;
        height:10px;
        background-color: white;
        border-radius: 50%;
        margin-top: 20%;
        animation-name: redd;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    /*stops*/
    .alaye{
        display:flex;
        background-color: transparent;
    }
    @keyframes redd {
        0%{
            background-color: red;
        }
        100%{
            background-color: white;
        }
    }
    #images{
        width:80px;
        height:80px;
    }
    .bye-box{
        height: auto;
    }
}